<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-style: italic; text-align: center;">Check Class Estudiantes</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-icon name="mail" slot="start" color="medium"></ion-icon>
        <ion-input fill="outline" label="Correo electronico " label-placement="floating" type="email" placeholder="email@duocuc.cl" name="correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="text" slot="start" color="medium"></ion-icon>
        <ion-input fill="outline" label="Codigo de confirmacion" label-placement="floating" type="email" placeholder="XXXX" name="correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed" slot="start" color="medium"></ion-icon>
        <ion-input fill="outline" label="Contraseña" label-placement="floating" type="password" placeholder="*********" name="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed" slot="start" color="medium"></ion-icon>
        <ion-input fill="outline" label="Repetir Contraseña" label-placement="floating" type="password" placeholder="*********" name="password"></ion-input>
      </ion-item>

      <br>

      <div style="text-align: center;">
        <ion-button (click)="confirmarPass()" fill="solid" shape="round" color="warning" style="padding-bottom: 15px;">
          Confirmar Contraseña
        </ion-button>
      </div>
      
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title>Check Class 2024</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>